# Add your environment variables here
MONGODB_URI=mongodb+srv://ownerdb:NM3zF3xeNx3DC5la@cluster0.ipbjdow.mongodb.net/RecycleSathi?appName=RecycleSathi
JWT_SECRET=ad11aeb6733758d4dad831568355533fbc8a9b
PORT=3000
GOOGLE_APPLICATION_CREDENTIALS=/Users/rushan/Desktop/Ecothon 2.0/backend/google-vision-service-account.json
KHALTI_SECRET_KEY=a8a22703c4a5455c91476c6caab59e5f
KHALTI_PUBLIC_KEY=e9d66693831548c08e50bab4d7515752
